* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar-nav li .top-nav {
  color: white;
  font-size: .9em;
  padding: 2px 15px;
}

.navbar-inverse {
  min-height: 30px;
}

.navbar-default li:first-child {
  min-height: 40px;
  border-left: solid .1px grey;
}

.navbar-default .bot-nav {
  min-height: 40px;
  border-right: solid .1px grey;
}

.center-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo-header {
  max-height: 50px;
}

.content {
  padding: 30px 0px;
}

.first {
  padding-top: 0px;
}

.img-article {
  margin: 20px 0;
}

.article {
  line-height: 150%;
  width: 80%;
  padding-bottom: 30px;
}